<IfModule mod_rewrite.c>
    RewriteEngine On
     # Remove 'www' and redirect to non-www version
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
    
    RewriteRule ^(.*)$ public/$1 [L]
    
    RewriteCond %{REQUEST_URI} ^/category-image/
    RewriteRule ^ /logo-maker [R=301,L]

    
</IfModule>